<!-- MÔ TẢ -->
<h1 class="bd-title" id="content">PopOver</h1>


<!-- DEMO -->
<div class="demo-section">
    <h3 id="cpn_demo">Demo</h3>
    <div class="demo_content">
        <a class="btn btn-info" href="#" title="Dismissible popover" data-toggle="popover" data-trigger="focus" data-content="Click anywhere in the document to close this popover">Popover Focus</a>
        <a class="btn btn-warning" href="#" title="Header" data-toggle="popover" data-trigger="hover" data-content="Some content">Popover Hover</a>
        <a class="btn btn-warning" href="#" title="Header" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Content">Hover Top</a>
        <a class="btn btn-warning" href="#" title="Header" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Content">Hover Bottom</a>
        <a class="btn btn-warning" href="#" title="Header" data-toggle="popover" data-trigger="hover" data-placement="left" data-content="Content">Hover Left</a>
        <a class="btn btn-warning" href="#" title="Header" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Content">Hover Right</a>
    </div>                
</div>                

<!-- HTML -->
<div class="demo-section">
    <h3 id="cpn_html">HTML</h3>
    <div class="demo-wrapper">
        <div class="demo_content">
            <pre class="brush:xml;">
                &lt;a class=&quot;btn btn-info&quot; href=&quot;#&quot; title=&quot;Dismissible popover&quot; data-toggle=&quot;popover&quot; data-trigger=&quot;focus&quot; data-content=&quot;Click anywhere in the document to close this popover&quot;&gt;Popover Focus&lt;/a&gt;
                &lt;a class=&quot;btn btn-warning&quot; href=&quot;#&quot; title=&quot;Header&quot; data-toggle=&quot;popover&quot; data-trigger=&quot;hover&quot; data-content=&quot;Some content&quot;&gt;Popover Hover&lt;/a&gt;
                &lt;a class=&quot;btn btn-warning&quot; href=&quot;#&quot; title=&quot;Header&quot; data-toggle=&quot;popover&quot; data-placement=&quot;top&quot; data-content=&quot;Content&quot;&gt;Hover Top&lt;/a&gt;
                &lt;a class=&quot;btn btn-warning&quot; href=&quot;#&quot; title=&quot;Header&quot; data-toggle=&quot;popover&quot; data-placement=&quot;bottom&quot; data-content=&quot;Content&quot;&gt;Hover Bottom&lt;/a&gt;
                &lt;a class=&quot;btn btn-warning&quot; href=&quot;#&quot; title=&quot;Header&quot; data-toggle=&quot;popover&quot; data-placement=&quot;left&quot; data-content=&quot;Content&quot;&gt;Hover Left&lt;/a&gt;
                &lt;a class=&quot;btn btn-warning&quot; href=&quot;#&quot; title=&quot;Header&quot; data-toggle=&quot;popover&quot; data-placement=&quot;right&quot; data-content=&quot;Content&quot;&gt;Hover Right&lt;/a&gt;
            </pre>
        </div>                
    </div>                
</div>                

<!-- CSS -->
<div class="demo-section">
    <h3 id="cpn_css">CSS</h3>
    <div class="demo-wrapper">
        <div class="demo_content">
            <pre class="brush:css;">

            </pre>
        </div>                
    </div>                
</div>                

<!-- JS -->
<div class="demo-section">
    <h3 id="cpn_js">JS</h3>
    <div class="demo-wrapper">
        <div class="demo_content ">
            <pre class="brush:js;">
                $('[data-toggle="popover"]').popover();
            </pre>
        </div>                
    </div>                
</div>                
<!-- NOTE -->
<div class="demo-section">
    <h3 id="cpn_note">Note</h3>
    <p class="hidden">Note des</p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code class="highlighter-rouge">CSS</code></td>
                <td>Chỉ thêm <code>CSS</code> khi copy <code>HTML</code> không giống demo</td>
            </tr>
            <tr>
                <td><code class="highlighter-rouge">JS</code></td>
                <td>Chỉ thêm <code>Js</code> khi copy <code>HTML,CSS</code> không chạy giống demo</td>
            </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript" charset="utf-8">
    if(jQuery(document).find('[data-toggle="popover"]').is(":visible")){
        jQuery(document).find('[data-toggle="popover"]').popover();
    }
</script>