<!-- MÔ TẢ -->
<h1 class="bd-title" id="content">Label</h1>


<!-- DEMO -->
<div class="demo-section">
    <h3 id="cpn_demo">Demo</h3>
    <div class="demo_content">
        <a href="#" data-toggle="tooltip" data-placement="top" title="tooltip top">Tooltip top</a>
        <a href="#" data-toggle="tooltip" data-placement="bottom" title="tooltip bottom!">Tooltip bottom</a>
        <a href="#" data-toggle="tooltip" data-placement="left" title="tooltip left!">Tooltip left</a>
        <a href="#" data-toggle="tooltip" data-placement="right" title="tooltip right!">Tooltip right</a>
    </div>                
</div>                

<!-- HTML -->
<div class="demo-section">
    <h3 id="cpn_html">HTML</h3>
    <div class="demo-wrapper">
        <div class="demo_content">
            <pre class="brush:xml;">
                &lt;a href=&quot;#&quot; data-toggle=&quot;tooltip&quot; data-placement=&quot;top&quot; title=&quot;tooltip top&quot;&gt;Tooltip top&lt;/a&gt;
                &lt;a href=&quot;#&quot; data-toggle=&quot;tooltip&quot; data-placement=&quot;bottom&quot; title=&quot;tooltip bottom!&quot;&gt;Tooltip bottom&lt;/a&gt;
                &lt;a href=&quot;#&quot; data-toggle=&quot;tooltip&quot; data-placement=&quot;left&quot; title=&quot;tooltip left!&quot;&gt;Tooltip left&lt;/a&gt;
                &lt;a href=&quot;#&quot; data-toggle=&quot;tooltip&quot; data-placement=&quot;right&quot; title=&quot;tooltip right!&quot;&gt;Tooltip right&lt;/a&gt;
            </pre>
        </div>                
    </div>                
</div>                

<!-- CSS -->
<div class="demo-section">
    <h3 id="cpn_css">CSS</h3>
    <div class="demo-wrapper">
        <div class="demo_content">
            <pre class="brush:css;">

            </pre>
        </div>                
    </div>                
</div>                

<!-- JS -->
<div class="demo-section">
    <h3 id="cpn_js">JS</h3>
    <div class="demo-wrapper">
        <div class="demo_content ">
            <pre class="brush:js;">
                $('[data-toggle="tooltip"]').tooltip();
            </pre>
        </div>                
    </div>                
</div>                
<!-- NOTE -->
<div class="demo-section">
    <h3 id="cpn_note">Note</h3>
    <p class="hidden">Note des</p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><code class="highlighter-rouge">CSS</code></td>
                <td>Chỉ thêm <code>CSS</code> khi copy <code>HTML</code> không giống demo</td>
            </tr>
            <tr>
                <td><code class="highlighter-rouge">JS</code></td>
                <td>Chỉ thêm <code>Js</code> khi copy <code>HTML,CSS</code> không chạy giống demo</td>
            </tr>
        </tbody>
    </table>
</div>